body {
    display: flex;
    margin: 0; 
    background-color: black;
    height: 400vh;
    flex-direction: column;
}

.container {
    position: fixed;
    transform: translate(-1%, -1%);
    transition: top 1.5s, left 1.5s; 
    width: fit-content;
    height: fit-content;    
    top: calc(50% - 130px); 
    left: calc(50% - 70px);
    padding: 20px;
}

.container.move-top-left {
    top: 0;
    left: 0;
}

.container .icon {
    width: fit-content;
    height: fit-content;
}

.container .icon path {
    fill: transparent; 
    stroke: #90FADB; 
    stroke-width: 0.5;
    stroke-dasharray: 65; 
    stroke-dashoffset: 0;
}

@keyframes animate-logo {
    0% {
        stroke-dashoffset: 0;
    }
    10% {
        stroke-dashoffset: 20; 
    }
    80% {
        stroke-dashoffset: 110; 
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 130; 
        fill: #90FADB;
    }
}

.scrollDown {
    color: gray;
    font-size: 25px;
    margin: 0;
    opacity: 1; 
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.centerAlign {
    position: relative;
}

#page1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#page1-container {
    display: flex;
    height: 40%;
    align-self: flex-end;
}

.fade-out {
    animation: fadeOut 1.5s forwards; 
}

@keyframes fadeOut {
    from {
        opacity: 1; 
    }
    to {
        opacity: 0; 
    }
}

#page2 {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#titleBar {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    display: flex;
    justify-content: space-between; /* Distribute space between elements */
    align-items: center; /* Vertically center the items */
    margin-left: 10%;
}

#titleBar h1 {
    font-size: 300%;
}

#navigation {
    display: flex;
    align-items: center;
    position: absolute; /* Fix the navigation in its position */
    top: 50%; /* Align it to the vertical center */
    right: 15%;
    transform: translateY(-50%); 
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navBar li {
    margin: 0 10px; 
}

.navBar li a {
    color: #333; /* Text color */
    text-decoration: none;
    font-size: 150%;
    font-weight: bold;
    transition: color 0.3s; /* Smooth color transition on hover */

}

.navBar li a:hover {
    color: #555; /* Darker color on hover */
}
